<div class="page" id="page">
  {{# img }}{{# logo }}<a href="{{ url }}"><img src="../../_assets/src/logo.png" class="logo" alt="Logo Alt Text"></a>{{/ logo }}{{/ img }}
{{> 02-components/03-navigation/00-primary-nav }}
  {{> backend-footer }}
</div>
