.header
  background: $white
  padding: 0
  border-bottom: 1px solid #dbdbdb
  height: 5.1rem
  @extend .lc
  @media all and (min-width: $bp-med)
    height: 5.5rem
.logo
  float: left
  height: 3.7rem
  margin: 0.65rem
  @media all and (min-width: $bp-med)
    height: 4.2rem
.nav-toggle
  background: transparent
  color: $gray-dark
  float: right
  padding: 1.4rem 1.5rem
  font-size: 2.08rem
  line-height: 1
  border: 0
  border-left: 1px solid #dbdbdb
  width: 5.1rem
  height: 5.1rem
  outline: 0
  &:hover
    color: $gray
  @media all and (min-width: $bp-med)
    display: none
.search-form
  background: $white
  overflow: hidden
  margin: 0.65em 0.5em 0 0
  max-height: 0
  @media all and (max-width: $bp-sm-max)
    margin-top: 0.3rem
    position: absolute
    top: 5rem
    right: 0
    z-index: 2
    &.active
      max-height: 100%
  @media all and (min-width: $bp-med)
    float: right
    max-height: none
