/*------------------------------------*
    $NAVIGATION
*------------------------------------*/
.nav
  clear: both
  overflow: hidden
  a
    display: block
  &.active
    max-height: 100%
  @media all and (max-width: $bp-sm-max)
    max-height: 0
    a
      border-top: 1px solid $gray-light-2
      padding: $pad-half $pad
  @media all and (min-width: $bp-med)
    border-top: 1px solid $gray-light-2
    clear: none
    float: right
    margin-top: -0.1rem
    padding-top: $pad-quarter * 3
    li
      float: left
    a
      padding: $pad-quarter $pad
//Pagination
.pagination
  margin: -($pad) 0 $pad
  overflow: hidden
  .section.comments &
    margin: 0
  li
    float: left
    border-right: 1px solid $gray-light-2
    &:last-child
      border: 0
  a
    display: block
    padding: 0 $pad
  @media all and (max-width: $bp-xs-max)
    a
      padding: 0 1.4rem
