{{# scrape }}
  <section>
    <div id="one" class="test">{{ one }}</div>
    <div id="two" class="test">{{ two }}</div>
    <div class="test">{{ test }}</div>
    <div class="test">{{ test_1 }}</div>
    <div class="test">{{ test_2 }}</div>
    <div>{{ div }}</div>
    <div>{{ div_1 }}</div>
    <div>{{ div_2 }}</div>
    <code></code>
    <br />
    <p></p>
    <figure></figure>
    <!-- comment -->
  </section>
{{/ scrape }}
