/**
 * This wrapper div occupies all remaining viewport space after the header.
 */
#sg-vp-wrap {
  text-align: center;
  width: 100%;
  position: fixed;
  top: 3.2rem;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

/**
 * This is an invisible div that sits above the iframe and is used in JS for manual viewport resizing purposes.
 */
#sg-cover {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  z-index: 20;
  cursor: col-resize;
}

/**
 * This is the iframe container.
 */
#sg-gen-container {
  height: 100%;
  position: relative;
  text-align: center;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
}

/**
 * This is the actual iframe.
 */
#sg-viewport {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}

/**
 * Container used for manual resizing.
 */
#sg-rightpull-container {
  width: 1.4rem;
  float: right;
  margin: 0;
  height: 100%;
  cursor: col-resize;
}

/**
 * This is the handle that lets users resize the viewport.
 */
#sg-rightpull {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #c2c2c2;
  transition: background 0.1s ease-out;
}
#sg-rightpull:hover {
  background: #808080;
}
#sg-rightpull:active {
  cursor: col-resize;
  background: #666;
}

/**
 * This is an added class that is activated by JS to transition the width of the viewport.
 */
.vp-animate {
  transition: width 0.8s ease-out;
}
