// Two Column Layout
.l-two-col
  @extend .cf
  .l-main
    @media all and (min-width: $bp-med)
      float: left
      width: $column-width-two-thirds
    @media all and (min-width: $max-width)
      padding-right: $space
      width: $column-width-three-quarters
  .l-sidebar
    @media all and (max-width: $bp-sm-max)
      clear: both
    @media all and (min-width: $bp-med)
      float: left
      width: $column-width-one-third
      padding: 0 0 0 $space
    @media all and (min-width: $max-width)
      width: $column-width-one-quarter
[role="main"]
  @extend .lc
  @extend .cf
  padding: $space-half
  overflow: hidden
// Hero and Subs
.hero-and-subs
  display: flex
  flex-wrap: wrap
  justify-content: space-between
// Hero, Subs, Hoagies, Sidebar
.hero-and-subs,
.hoagies,
.l-sidebar
  @media all and (max-width: $bp-xs-max)
    h2
      text-align: center
