/* UTILITIES */

/* Icon fonts. */
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?bw8vj5");
  src: url("fonts/icomoon.eot?bw8vj5#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?bw8vj5") format("truetype"), url("fonts/icomoon.woff?bw8vj5") format("woff"), url("fonts/icomoon.svg?bw8vj5#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Visibilly hidden but still accessible to screen readers. */
.visually-hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  padding: 0 !important;
  pointer-events: none !important;
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
}

/* END UTILITIES */

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
