/* UTILITIES */

/* Icon fonts. */
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?srsv7g");
  src: url("fonts/icomoon.eot?#iefixsrsv7g") format("embedded-opentype"), url("fonts/icomoon.woff?srsv7g") format("woff"), url("fonts/icomoon.ttf?srsv7g") format("truetype"), url("fonts/icomoon.svg?srsv7g#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Visibilly hidden but still accessible to screen readers. */
.is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 0.1rem;
  height: 0.1rem;
  padding: 0;
  border: 0;
  clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
}

/* END UTILITIES */

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
