*.log
*.tmp*
*~
.*.swp
.DS_Store
.coveralls.yml
.nyc_output/
/excludes/profiles/base/source/_data/data.json
/excludes/profiles/main/source/_data/data.json
ignore/
node_modules/
!/test/public/node_modules/
!/ui/test/public/node_modules/
/test/public/node_modules/fepper-ui/scripts/ui/data.js
/ui/test/public/node_modules/fepper-ui/scripts/ui/data.js
!/test/root-installer-test/excludes/profiles/main/extend/node_modules/
package-lock.json
