*.log
*.tmp*
*~
.*.swp
.DS_Store
.coveralls.yml
.nyc_output/
/ui/test/pattern_exports/
/ui/test/public/
/ui/test/public-alt/
ignore/
node_modules/
!/test/public/node_modules/
!/test/root-installer-test/excludes/profiles/main/extend/node_modules/
package-lock.json
