*.log
.*.swp
.DS_Store
/pattern_exports/
/public/
/test/public/node_modules/fepper-ui/data/*
!/test/public/node_modules/
/ui/test/pattern_exports/*
/ui/test/public/*
ignore/
node_modules/
package-lock.json
