#sg-code-pattern-info p,
#sg-code-lineage p,
#sg-code-lineager p {
  margin: 0 0 0.8rem;
}

#sg-code-lineage a,
#sg-code-lineager a {
  text-decoration: none;
}

.sg-code-pattern-name strong {
  color: #aaa;
  font-weight: normal;
}

#sg-code-pattern-info-rel-path {
  cursor: pointer;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 0.875em;
}

#sg-code-tabs {
  display: flex;
  align-items: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sg-code-tab {
  border-top: 2px solid #666;
  border-right: 1px solid #666;
  border-left: 1px solid #666;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bold;
  margin-right: 0.1rem;
  padding: 0.5rem 1.5rem 1rem;
}
.sg-code-tab:first-child {
  border-bottom-left-radius: 0;
}

.sg-code-tab-active {
  color: #bbb;
  cursor: auto;
  background-color: #333;
}

#sg-code-panels {
  background-color: #000;
  border-radius: 0.6rem;
  border: 0.3rem solid #666;
  margin-top: -0.5rem;
  margin-bottom: 4.6rem;
  min-height: 8.6rem;
  position: relative;
  width: 100%;
}

.sg-code-panel {
  display: none;
  opacity: 0;
  transition: opacity 0.1s linear;
}
.sg-code-panel p {
  margin: 1em;
}

.sg-code-panel-active {
  display: block;
  opacity: 1;
}

#sg-code-panel-feplet {
  border: 0;
  width: 100%;
}

.sg-code-outcome {
  display: none;
}
.sg-code-outcome pre {
  border: 0;
}

#sg-code-pane-markdown::after,
#sg-code-pane-markdown-edit::after {
  clear: both;
  content: " ";
  display: table;
}
#sg-code-pane-markdown pre.language-markdown {
  background: none;
}

#sg-code-textarea-markdown {
  background: #080f08;
  border: 0;
  color: #38ff28;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  line-height: 1.5;
  padding: 0.7rem 1.4rem;
}
#sg-code-textarea-markdown:focus {
  outline: #188f08 solid thin;
}
#sg-code-textarea-markdown::-moz-selection, #sg-code-markdown-textarea ::-moz-selection {
  text-shadow: none;
  background: hsla(0, 0%, 93%, 0.15); /* #EDEDED */
}
#sg-code-textarea-markdown::selection, #sg-code-markdown-textarea ::selection {
  text-shadow: none;
  background: hsla(0, 0%, 93%, 0.15); /* #EDEDED */
}

.sg-code-btn {
  background-color: #333;
  border: 0.2rem solid #666;
  color: #bbb;
  cursor: pointer;
  float: right;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0 1em 1em;
  padding: 0.5rem 1rem;
}

#sg-code-btn-markdown-edit {
  margin-top: 2.6rem;
}
.viewall #sg-code-btn-markdown-edit {
  display: none;
}
