#sg-code-container > div > p {
  margin: 0 0 0.4rem;
}

#sg-code-lineage a,
#sg-code-lineager a {
  text-decoration: none;
}

#sg-code-missing-partials-fill {
  color: red;
}

.sg-code-pattern-name strong {
  color: #aaa;
  font-weight: normal;
}

#sg-code-pattern-info-rel-path {
  cursor: pointer;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 0.875em;
}

#sg-code-tabs {
  display: flex;
  align-items: flex-start;
  list-style: none;
  margin: 1.2rem 0 0;
  padding: 0;
}

.sg-code-tab {
  border-top: 2px solid #666;
  border-right: 1px solid #666;
  border-left: 1px solid #666;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bold;
  margin-right: 0.1rem;
  padding: 0.5rem 1.5rem 1rem;
}
.sg-code-tab:first-child {
  border-bottom-left-radius: 0;
}

.sg-code-tab-active {
  color: #bbb;
  cursor: auto;
  background-color: #333;
}

.sg-code-tab-warning {
  background-color: #300800;
}
.sg-code-tab-warning.sg-code-tab-active {
  background-color: #600000;
}

#sg-code-panels {
  background-color: #000;
  border-radius: 0.6rem;
  border: 0.3rem solid #666;
  margin-top: -0.5rem;
  margin-bottom: 4.6rem;
  min-height: 8.6rem;
  position: relative;
  width: 100%;
}

.sg-code-panel {
  display: none;
  opacity: 0;
  transition: opacity 0.1s linear;
}
.sg-code-panel p {
  margin: 1em;
}

.sg-code-panel-active {
  display: block;
  opacity: 1;
}

#sg-code-panel-feplet {
  border: 0;
  width: 100%;
}

.sg-code-pane {
  display: none;
}
.sg-code-pane pre {
  margin-top: 0;
}

.sg-code-pane-content-warning {
  background-color: #200800;
  border: 1px solid #800000;
  color: red;
}

#sg-code-pane-markdown::after,
#sg-code-pane-markdown-edit::after,
#sg-code-pane-markdown-commit::after,
#sg-code-pane-markdown-console::after,
#sg-code-panel-git::after {
  clear: both;
  content: " ";
  display: table;
}

#sg-code-pre-language-markdown {
  background: none;
  border: 0;
  margin-top: 0.5em;
}

.sg-code-btn {
  background-color: #333;
  border: 0.2rem solid #666;
  color: #bbb;
  cursor: pointer;
  float: right;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0 1em 1em 0;
  padding: 0.5rem 1rem;
}

#sg-code-btn-markdown-edit {
  margin-top: 2.6rem;
}
.viewall #sg-code-btn-markdown-edit {
  display: none;
}

#sg-code-textarea-markdown,
#sg-code-textarea-commit-message {
  background: #080f08;
  border: 1px solid #188f08;
  color: #38ff28;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 0.3rem;
  outline: none;
  padding: 0.5rem 1.3rem;
}
#sg-code-textarea-markdown::-moz-selection, #sg-code-markdown-textarea ::-moz-selection {
  text-shadow: none;
  background: hsla(0, 0%, 93%, 0.15); /* #EDEDED */
}
#sg-code-textarea-markdown::selection, #sg-code-markdown-textarea ::selection {
  text-shadow: none;
  background: hsla(0, 0%, 93%, 0.15); /* #EDEDED */
}

.sg-code-load-anim {
  display: none;
  margin: 0 auto;
  position: relative;
  width: 2.4rem;
  height: 2.4rem;
}
.sg-code-load-anim div {
  animation: load-anim 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ccc transparent transparent transparent;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.4rem;
  box-sizing: border-box;
  display: block;
  margin: 0.4rem;
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
}
.sg-code-load-anim div:nth-child(1) {
  animation-delay: -0.45s;
}
.sg-code-load-anim div:nth-child(2) {
  animation-delay: -0.3s;
}
.sg-code-load-anim div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes load-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#sg-code-pane-markdown-load-anim {
  margin-top: 2.4rem;
}
#sg-code-console-markdown-load-anim {
  margin-bottom: 2.4rem;
}

#sg-code-label-commit-message {
  color: white;
  display: block;
  margin: 1em 1em 0.3rem 1.2rem;
}

#sg-code-textarea-commit-message {
  width: 100%;
}

#sg-code-pane-markdown-console {
  overflow-x: scroll;
}
#sg-code-pane-markdown-console pre {
  margin-top: 1.4rem;
}

#sg-code-console-markdown-log {
  color: white;
}

#sg-code-console-markdown-error {
  color: red;
}

#sg-code-btn-markdown-continue {
  display: none;
}

#sg-code-pane-git-na pre {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}

#sg-code-radio-git {
  display: flex;
  align-items: flex-start;
  margin: 1em 1em 1em 1.2rem;
}

.sg-code-radio-git:hover {
  cursor: pointer;
}

#sg-code-panel-git > .sg-code-btn {
  display: none;
}

#sg-code-pane-git.git-integrator-on {
  color: white;
}
