/**
 * Appears as an ol.
 */
.sg-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 3;
}
.sg-nav > li {
  cursor: pointer;
}
@media all and (min-width: 768px) {
  .sg-nav > li {
    border-bottom: 0;
    float: left;
    position: relative;
  }
  .sg-nav > li > ol {
    position: absolute;
    top: 3.2rem;
    left: 0;
  }
}
.sg-nav a {
  display: flex;
  align-items: center;
}

/**
 * Third-level links are stylistically different than first and second nav links.
 */
.sg-item-nav {
  list-style: none;
}
.sg-item-nav a {
  text-transform: none;
  padding-left: 1.6rem;
}

/**
 * Hide the scrape menu for file protocol.
 */
.protocol-file .sg-nav-scrape {
  display: none;
}
