.sg-view-container {
  background-color: #222;
  border-color: #999;
  border-style: solid;
  border-width: 0;
  color: #808080;
  font-family: Helvetica, "Nimbus Sans L", "Liberation Sans", Roboto, sans-serif;
  font-size: 1.4rem;
  line-height: 1.4;
  padding: 0.8rem 0 0;
  position: fixed;
  width: 0;
  height: 0;
}
.sg-view-container a {
  color: #999;
}
.sg-view-container pre {
  padding: 0 1.4rem;
}
.dock-left .sg-view-container,
.dock-right .sg-view-container {
  top: 3.2rem;
}
.dock-left .sg-view-container.anim-ready {
  border-right-width: 1px;
  left: -50vw;
  transition: left 0.3s linear;
  width: 50%;
  height: 100%;
}
.dock-open.dock-left .sg-view-container {
  left: 0;
}
.dock-bottom .sg-view-container.anim-ready {
  border-top-width: 1px;
  bottom: -50vh;
  transition: bottom 0.3s linear;
  width: 100%;
  height: 50%;
}
.dock-open.dock-bottom .sg-view-container {
  bottom: 0;
}
.dock-right .sg-view-container.anim-ready {
  border-left-width: 1px;
  right: -50vw;
  transition: right 0.3s linear;
  width: 50%;
  height: 100%;
}
.dock-open.dock-right .sg-view-container {
  right: 0;
}

.sg-view-scroll-container {
  overflow-y: auto;
  opacity: 0;
  padding: 0 1.4rem;
  position: absolute;
  top: 3.2rem;
  transition: opacity 0.1s linear;
  width: 100%;
  height: calc(100% - 3.2rem);
}
.sg-view-scroll-container.active {
  opacity: 1;
  z-index: 1;
}

.sg-view-btns {
  display: flex;
  justify-content: flex-end;
  padding-right: 1.2rem;
  position: relative;
}

.sg-view-btn {
  cursor: pointer;
  fill: #999;
  margin: 0.4rem 0.6rem;
  stroke: #999;
  width: 1.6rem;
  height: 1.6rem;
}
.dock-left .sg-view-btn-dock-left,
.dock-bottom .sg-view-btn-dock-bottom,
.dock-right .sg-view-btn-dock-right {
  cursor: default;
  pointer-events: none;
}
