.sg-view-container {
  background: #222;
  color: #808080;
  display: none;
  font-family: Helvetica, "Nimbus Sans L", "Liberation Sans", Roboto, sans-serif;
  font-size: 1.4rem;
  line-height: 1.4;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.8rem 1.4rem;
  position: fixed;
  left: 0;
  width: 100%;
  height: 50%;
}
.sg-view-container a {
  color: #999;
}
.sg-view-container pre {
  padding: 0 1.4rem;
}
.sg-view-container.anim-ready {
  display: block;
  transition: bottom 0.3s ease-out;
}
.sg-view-container.anim-ready.close {
  transition: bottom 0.5s ease-out 0.2s;
}

.sg-view-close {
  display: flex;
  justify-content: flex-end;
}

.sg-view-close-btn {
  color: #fff;
  display: block;
  font-size: 2.4rem;
  font-weight: 100;
  line-height: 1;
  text-decoration: none;
}
