<section class="section recent-comments">
  <h2 class="section-title">Recent Comments</h2>
  <ul class="headline-list">
    {{# recent_comments }}
      <li><h4><a href="#">{{ comment }}</a></h4> {{> elements-time }}</li>
    {{/ recent_comments }}
  </ul>
</section>
