<section class="section recent-posts">
  <h2 class="section-title">Recent Posts</h2>
  <ul class="headline-list">
    {{# latest_posts }}
      <li><a href="{{ url }}">{{ headline }}</a></li>
    {{/ latest_posts }}
  </ul>
</section>
