<!-- View All -->
<link rel="stylesheet" href="../../{{ pathsPublic.css }}/pattern-scaffolding.css" media="all">
<div class="sg-main" role="main">
  
  <!-- Patterns -->
  <div id="sg-patterns">
    {{# partials }}
      {{> patternSectionType }}
      {{> patternSectionSubType }}
      {{> patternSection }}
    {{/ partials }}
  </div> <!--end #sg-patterns-->

</div><!--end .sg-main-->
