<!-- View All -->
<link rel="stylesheet" href="../../{{ pathsPublic.css }}/pattern-scaffolding.css">
<div class="sg-main" role="main">

  <!-- Patterns -->
  <div id="sg-patterns">
    {{# partials }}
      {{> patternSectionType }}
      {{> patternSectionSubType }}
      {{> patternSection }}
    {{/ partials }}
  </div> <!--end #sg-patterns-->

</div><!--end .sg-main-->

<script>
  // Hydrate viewalls.
  const patternEls = document.getElementsByClassName('sg-pattern');

  for (const patternEl of patternEls) {
    const exampleEl = patternEl.querySelector('.sg-pattern-example');
    const linkEl = patternEl.querySelector('.sg-pattern-link');
    const xhr = new XMLHttpRequest();

    if (linkEl && linkEl.href) {
      const regex = /\.\w+$/;
      const matches = linkEl.href.match(regex);
      const ext = matches && matches[0] ? matches[0] : matches;

      if (ext) {
        const link = linkEl.href.replace(regex, '.markup-only' + ext);

        xhr.open('GET', link, true);
        xhr.onload = () => {
          if (xhr.responseText) {
            exampleEl.innerHTML = xhr.responseText;
          }
        };
        xhr.send();
      }
    }
  }
</script>
