<!-- View All Patterns in a Pattern Sub-Type -->
<div class="sg-main" role="main">
  
  <!-- Patterns -->
  <div id="sg-patterns">
    {{# partials }}
      {{# patternSectionSubType }}
        {{> patternSectionSubType }}
      {{/ patternSectionSubType }}
      {{^ patternSectionSubType }}
        {{> patternSection }}
      {{/ patternSectionSubType }}
    {{/ partials }}
  </div> <!--end #sg-patterns-->

</div><!--end .sg-main-->
