<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
<script type="text/json" id="sg-pattern-data-footer" class="sg-pattern-data">
  {{{ patternData }}}
</script>

<script>
  /*!
   * scriptLoader - v0.1
   *
   * Copyright (c) 2014 Dave Olsen, http://dmolsen.com
   * Licensed under the MIT license
   *
   */
  
  var scriptLoader = {
    
    run: function(js,cb,target) {
      var s  = document.getElementById(target+'-'+cb);
      for (var i = 0; i < js.length; i++) {
        var src = (typeof js[i] != 'string') ? js[i].src : js[i];
        var c   = document.createElement('script');
        c.src   = '../../'+src+'?'+cb;
        if (typeof js[i] != 'string') {
          if (js[i].dep !== undefined) {
            c.onload = function(dep,cb,target) {
              return function() {
                scriptLoader.run(dep,cb,target);
              }
            }(js[i].dep,cb,target);
          }
        }
        s.parentNode.insertBefore(c,s);
      }
    }
    
  }
</script>

<script>
  // handle injection of items from Node
  var patternPartial = "{{ patternPartial }}";
  var lineage{{# lineage }} = {{{ lineage }}}{{/ lineage }};
  var lineageR{{# lineageR }} = {{{ lineageR }}}{{/ lineageR }};
  var patternState = "{{ patternState }}";
  var cssEnabled = false;
</script>

<script id="pl-js-insert-{{ cacheBuster }}">
  (function() {
    if (self != top) {
      var cb = '{{ cacheBuster}}';
      var js = [ { 'src': 'node_modules/jwerty/jwerty.js', 'dep': [ 'node_modules/fepper-ui/scripts/patternlab-pattern.js' ] } ];
      scriptLoader.run(js,cb,'pl-js-insert');
    }
  })();
</script>

<script src="../../node_modules/jwerty/jwerty.js"></script>
<script src="../../node_modules/fepper-ui/scripts/postmessage.js"></script>
<script src="../../annotations/annotations.js{{ cacheBuster }}"></script>
<script src="../../node_modules/fepper-ui/scripts/annotations-pattern.js"></script>
<script src="../../node_modules/fepper-ui/scripts/code-pattern.js"></script>
<script src="../../node_modules/fepper-ui/scripts/mustache-browser.js"></script>
<script src="../../node_modules/fepper-ui/scripts/pattern-configurer.js"></script>
<!-- End Pattern Lab -->
