.sg-control .sg-input {
  transition: all 0.2s ease-out;
}
.sg-control .sg-input:active, .sg-control .sg-input:focus {
  outline: 0;
  background: #999;
  color: #000;
}

.sg-current-size {
  line-height: 1;
  color: #808080;
  padding-right: 0.4rem;
}
.sg-current-size:hover .sg-input {
  background: #999;
  color: #000;
}
@media all and (max-width: 767px) {
  .sg-size-options {
    display: none;
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  .sg-current-size {
    width: 20rem;
  }
  .sg-size-options {
    background-color: #000;
    min-width: 0;
    position: absolute;
  }
}
@media all and (min-width: 1025px) {
  .sg-current-size {
    float: left;
  }
}
@media all and (min-width: 1281px) {
  .sg-current-size {
    padding-right: 0.7rem;
  }
}

.sg-size-options > li {
  float: left;
  border: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.05);
}
.sg-size-options li {
  background-color: transparent;
}
.sg-size-options a {
  padding-right: 0.4rem;
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  .sg-size-options {
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    float: none;
    position: absolute;
  }
  .sg-size.active .sg-size-options {
    max-height: none;
  }
}
@media all and (min-width: 1025px) {
  .sg-size-options {
    float: left;
    max-height: none;
    position: static;
  }
}
@media all and (min-width: 1281px) {
  .sg-size-options a {
    padding-right: 0.7rem;
  }
}

#sg-form {
  margin: 0;
  border: 0;
  padding: 0;
}
#sg-form > * {
  display: inline-block;
  font-size: 1.1rem;
}
.sg-input {
  margin: -0.2rem 0 0 0;
  padding: 0 0 0.1rem;
  border: 0;
  background-color: #222;
  color: gray;
  height: 1.2rem;
  text-align: right;
}
#sg-size-px {
  width: 2.6rem;
}
#sg-size-em {
  width: 3.5rem;
}
@media all and (max-width: 767px) {
  #sg-form-label {
    cursor: default;
  }
  #sg-form-label:hover, #sg-form-label:focus, #sg-form-label:active {
    background-color: #000;
    color: #808080;
  }
  #sg-form-label::after {
    content: '';
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  #sg-form {
    text-align: right;
  }
}
@media all and (min-width: 768px) {
  #sg-form-label {
    cursor: pointer;
  }
  #sg-size-px {
    width: 3.5rem;
  }
  #sg-size-em {
    width: 4rem;
  }
}
@media all and (min-width: 1025px) {
  #sg-form-label {
    cursor: default;
  }
  #sg-form-label:hover, #sg-form-label:focus, #sg-form-label:active {
    background-color: #000;
    color: #808080;
  }
  #sg-form-label::after {
    content: '';
  }
}
