.sg-control .sg-input {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.sg-control .sg-input:active, .sg-control .sg-input:focus {
  outline: 0;
  background: #999;
  color: #000;
}

.sg-current-size {
  font-size: 0.7em;
  line-height: 1;
  color: #808080;
  padding: 0.982em 0.3571em 0 0.4018em;
}
.sg-current-size:hover .sg-input {
  background: #999;
  color: #000;
}
@media all and (min-width: 1025px) {
  .sg-current-size {
    float: left;
  }
}

.sg-size-options {
  min-width: auto;
}
.sg-size-options li {
  background-color: transparent;
}
.sg-size-options a {
  padding-right: 0.4018em;
}
@media all and (min-width: 1025px) {
  .sg-size-options {
    float: left;
    position: static;
    max-height: none;
    max-width: none;
  }
  .sg-size-options > li {
    float: left;
    border: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.05);
  }
}

#sg-form {
  margin: 0;
  border: 0;
  padding: 0;
}
#sg-form > * {
  display: inline-block;
}
.sg-input {
  margin: -2px 0 0 0;
  padding: 0 0 1px;
  border: 0;
  background-color: #222;
  color: gray;
  height: 12px;
  font-size: 1em;
  text-align: right;
}
#sg-size-px {
  width: 30px;
}
#sg-size-em {
  width: 35px;
}
@media all and (min-width: 768px) {
  #sg-size-px {
    width: 35px;
  }
  #sg-size-em {
    width: 40px;
  }
}
