.sg-control > li {
  float: left;
}

.sg-header .sg-icon {
  display: block;
  width: auto;
  height: 2rem;
  font-size: 1rem;
  padding: 0.5rem 0.25rem 0.375rem 0.25rem;
}
.sg-acc-handle.sg-icon::after {
  top: -4px;
}
@media all and (min-width: 1281px) {
  .sg-header .sg-icon {
    padding-right: 0.4375rem;
    padding-left: 0.4375rem;
  }
}

.sg-checklist .sg-checklist-icon::before {
  margin-right: 0.4em;
}

.sg-icon-search::before,
.sg-icon-cog::before,
.sg-checkbox.active::before,
.sg-checkbox::before,
.sg-icon-file::before,
.sg-icon-link::before,
.sg-icon-keyboard::before,
.sg-icon-eye::before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sg-view {
  position: relative;
}
.sg-view > ul {
  position: absolute;
  top: 2em;
  left: 0;
}

.sg-acc-panel.sg-right {
  position: absolute;
  left: auto;
  right: 0;
}

.sg-checkbox::before {
  content: "\e606";
  display: inline-block;
}
.sg-checkbox.active::before {
  content: "\e605";
}
