<div class="page" id="page">
  {{> 02-components/00-global/00-header.mustache }}
  {{> 02-components/01-sections/02-latest-posts.mustache(latest_posts_title: 'Out Outdoor Blog') }}
  {{> 02-components/00-global/01-footer('boolean?': true) }}
</div>
