<div class="sg-pattern-category">
  <h2 class="sg-pattern-category-title sg-pattern-type">
    <a
      href="../../{{ pathsPublic.patterns }}/{{ flatPatternPath }}/index.html"
      class="sg-pattern-link"
      title="Link to Type"
    >{{ patternTypeUC }}</a>
  </h2>
</div><!--end sg-pattern-category-->
