#sg-code-pattern-info p,
#sg-code-lineage p,
#sg-code-lineager p {
  margin: 0 0 0.8rem;
}

#sg-code-lineage a,
#sg-code-lineager a {
  text-decoration: none;
}

.sg-code-pattern-name {
  color: #aaa;
}

#sg-code-pattern-info-rel-path {
  cursor: pointer;
  font-size: 1.231em;
}

#sg-code-markup {
  padding-top: 0.4rem;
}

#sg-code-tabs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sg-code-title {
  float: left;
  background-color: #333;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-top: 2px solid #666;
  margin-right: 0.2rem;
  cursor: pointer;
}

.sg-code-title-active {
  color: #bbb;
  background-color: #272822 !important;
}

.sg-code-button {
  margin-top: 0.6rem;
  margin-left: 0.6rem;
}

.sg-language-markup-container {
  clear: both;
}
