/**
 * Controls contains viewport resizer and tools dropdown.
 */
.sg-controls {
  background-color: #000;
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.sg-controls a {
  height: auto;
}
.sg-controls > li {
  float: left;
}

.sg-control-trigger.sg-icon {
  display: block;
  width: auto;
  height: 3.2rem;
  font-size: 1.5rem;
  padding: 0.8rem 0.4rem 0.6rem 0.4rem;
}
.sg-acc-handle.sg-icon::after,
#sg-f-toggle.sg-icon::after {
  top: -0.45rem;
}
@media all and (min-width: 1281px) {
  .sg-header .sg-icon {
    padding-right: 0.7rem;
    padding-left: 0.7rem;
  }
}

.sg-checklist .sg-checklist-icon::before {
  margin-right: 0.4rem;
}

.sg-view {
  position: relative;
}
.sg-view > ul {
  position: absolute;
  top: 3.2rem;
  left: 0;
}

.sg-acc-panel.sg-right {
  position: absolute;
  left: auto;
  right: 0;
}

.sg-icon::before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sg-icon-radio::before {
  content: "\ea56";
  display: inline-block;
}
.sg-icon-radio.active::before {
  content: "\ea54";
}
