<main>
  <script src="../../node_modules/fepper-ui/scripts/html-scraper-ajax.js"></script>
  <script>
    (function () {
      'use strict';
      // We don't want these styles to get applied to View All because they put !important on nearly all rules.
      if (window.location.pathname === '/patterns/98-scrape-00-html-scraper/98-scrape-00-html-scraper.html') {
        const link = document.createElement('link');
        link.href = '/fepper-core/style.css';
        link.rel = 'stylesheet';
        link.media = 'all';
        document.getElementsByTagName('head')[0].appendChild(link);
      }
    })();
  </script>
</main>
