<article class="article">
  <header class="article-header">
    <h1>{{ article_title }}</h1>
    {{> 01-compounds/00-text/00-byline-author-time }}
  </header>
  {{> 02-components/00-article/01-article-body }}
</article>
{{> 02-components/02-comments/01-comment-thread }}
