<h4>bez</h4>
<div id="{{ patternPartial }}" class="sg-pattern">
  <div class="sg-pattern-head">
    <h4 class="sg-pattern-title">
      <a
        href="../../{{ pathsPublic.patterns }}/{{ patternLink }}"
        class="sg-pattern-link"
        data-patternpartial="{{ patternPartial }}"
        title="Link to Pattern"
      >{{ patternName }}</a>
      {{# patternState }}
        <div class="sg-pattern-state {{ patternState }}">({{ patternState }})</div>
      {{/ patternState }}
    </h4>
    <div class="sg-pattern-info-toggles">
      <a
        href="#"
        id="sg-pattern-toggle-annotations-{{patternPartial}}"
        class="sg-pattern-info-toggle sg-pattern-toggle-annotations"
        data-patternpartial="{{ patternPartial }}"
        title="View Pattern Annotations"
      >&#x1F4C4;</a>
      <a
        href="#"
        id="sg-pattern-toggle-code-{{patternPartial}}"
        class="sg-pattern-info-toggle sg-pattern-toggle-code"
        data-patternpartial="{{ patternPartial }}"
        title="View Pattern Code"
      >&#x276E;&#x276F;</a>
    </div>
  </div>
  <div class="sg-pattern-example cf"></div>
  <script type="text/json" id="sg-pattern-data-{{patternPartial}}" class="sg-pattern-data">
    {{{ pattern.patternData }}}
  </script>
</div><!--end .sg-pattern-->
