// /////////////////////////////////////////////////////////////////////////////
// variables.styl is shared between browser JavaScripts and Stylus.
// /////////////////////////////////////////////////////////////////////////////
@import '../../../_scripts/src/variables'

// /////////////////////////////////////////////////////////////////////////////
// The base on which the rest of the styles are built.
// /////////////////////////////////////////////////////////////////////////////
@import '0-base/00-variables'
@import '0-base/01-helpers'
@import '0-base/02-reset'
@import '0-base/03-global'

// /////////////////////////////////////////////////////////////////////////////
// Styles specific to Compound subtypes.
// /////////////////////////////////////////////////////////////////////////////
@import '01-compounds/blocks'
@import '01-compounds/navigation'

// /////////////////////////////////////////////////////////////////////////////
// Styles specific to Component subtypes.
// /////////////////////////////////////////////////////////////////////////////
@import '02-components/regions'

// /////////////////////////////////////////////////////////////////////////////
// Styles specific to Templates subtypes.
// /////////////////////////////////////////////////////////////////////////////
@import '03-templates/page'

// /////////////////////////////////////////////////////////////////////////////
// Styles specific to Pages.
// /////////////////////////////////////////////////////////////////////////////
@import '04-pages/homepage'
