<section class="section latest-posts">
  <ul class="post-list">
    {{# latest_posts }}
      <li>{{> compounds-media-block }}</li>
    {{/ latest_posts }}
  </ul>
  <a href="#" class="text-btn">View more posts</a>
</section>
