#sg-find {
  color: #000;
  text-transform: lowercase;
}
#sg-find.active {
  height: 190rem;
}

#sg-f-toggle {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.sg-icon-search::before {
  content: "\e600";
  font-size: 87.5%;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 22rem;
  height: 3rem;
  padding: 0.5rem 1.2rem;
  font-size: 1.4rem;
  line-height: 1.4rem;
  border: 2px solid #ccc;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #999;
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 42rem;
  padding: 0.8rem 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-align: left;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0,0,0,.2);
     -moz-box-shadow: 0 0.5rem 1rem rgba(0,0,0,.2);
          box-shadow: 0 0.5rem 1rem rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 0.3rem 1.3rem;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}
