@media all and (max-width: 767px) {
  .sg-nav-container {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.1s ease-out;
  }
  .sg-nav-container.active {
    max-height: 80rem;
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  .sg-nav-container.active {
    overflow: visible;
    max-height: 80rem;
  }
}

/**
* Accordions are dropdowns used for the primary nav and
* tools dropdowns.
*/
.sg-acc-handle::after {
  content: '▼';
  color: rgba(255, 255, 255, 0.25);
  display: inline-block;
  font-size: 0.7rem;
  position: relative;
  top: 0;
  right: -0.2rem;
  transition: all 0.1s ease-out;
}
@media all and (min-width: 768px) {
  .sg-acc-handle::after {
    float: none;
  }
}
.sg-acc-handle:hover::after, .sg-acc-handle:focus::after {
  color: #808080;
}
.sg-acc-handle.active {
  color: #fff;
  background: #222;
}
.sg-acc-handle.active::after {
  top: -0.2rem;
  color: #808080;
  transform: rotate(180deg);
}

/**
* Accordion panel
*/
.sg-acc-panel {
  overflow: hidden;
  max-height: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 16rem;
  transition: max-height 0.1s ease-out;
}
.sg-acc-panel li {
  background: #222;
}
.sg-acc-panel li:last-child {
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}
.sg-acc-panel li:last-child a {
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}
.sg-acc-panel a {
  display: block;
}
.sg-acc-panel.active {
  max-height: 190rem;
}
