html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-size: 1.6em;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
html {
  font-size: 10px;
}
body {
  color: #363636;
  font: 1.6em/1.5 "Fira Sans", sans-serif;
  margin: 0;
  min-width: 320px;
  min-height: 24.1rem;
  position: relative;
}
a {
  color: #363636;
  text-decoration: none;
}
code {
  background-color: #eee;
  font-family: Menlo, "Lucida Console", "DejaVu Sans Mono", "Liberation Mono", "Roboto Mono", monospace;
  font-size: 0.875em;
}
h1 {
  margin: 2.1rem 0;
}
h1,
h2 {
  font-size: 2.6rem;
}
@media all and (max-width: 767px) {
  h1,
  h2 {
    text-align: center;
  }
}
@media all and (max-width: 480px) {
  h1,
  h2 {
    font-size: 2.2rem;
  }
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 21.5rem;
  padding-top: 0.8rem;
}
.img-alt-h1 {
  margin: 0;
}
.nav__menu {
  list-style-type: none;
}
.nav__menu .caret {
  display: inline;
  vertical-align: top;
}
.nav__menu .caret svg {
  display: inline;
  fill: #363636;
  width: 1.7rem;
  height: 1.7rem;
}
.nav__menu .caret--up {
  display: none;
}
.nav__submenu {
  max-height: 0;
  overflow: hidden;
  padding-left: 1.5rem;
  transition: max-height 0.2s linear;
}
.nav__submenu-container {
  background: #fae6e6;
}
.nav__submenu-container.active .caret--down {
  display: none;
}
.nav__submenu-container.active .caret--up {
  display: inline;
}
.nav__submenu-container.active .nav__submenu {
  max-height: 20rem;
}
.nav__submenu-toggle {
  background: #fae6e6;
}
.javascript-developers .nav__submenu {
  max-height: 20rem;
}
.javascript-developers .nav__submenu-toggle {
  pointer-events: none;
}
.javascript-developers .nav__submenu-toggle .caret {
  display: none;
}
#nav__menu {
  padding-left: 0;
}
.sidebar-toggle-for-small-vp {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  display: none;
  line-height: 1;
  outline: 0;
  padding: 0;
  position: absolute;
  top: 1rem;
  right: 0;
}
.sidebar-toggle-for-small-vp svg {
  fill: #bbb;
  width: 5rem;
  height: 5rem;
}
@media all and (max-width: 767px) {
  .sidebar-toggle-for-small-vp {
    display: block;
  }
  .sidebar-toggle-for-small-vp .caret--right {
    display: none;
  }
  .sidebar-toggle-for-small-vp.active .caret--left {
    display: none;
  }
  .sidebar-toggle-for-small-vp.active .caret--right {
    display: block;
  }
}
article {
  min-height: calc(100vh - 21.5rem);
  padding: 0 1.5rem 2rem 4rem;
  width: calc(100vw - 28.8rem);
}
@media all and (max-width: 1024px) {
  article {
    width: calc(100vw - 25rem);
  }
}
@media all and (max-width: 767px) {
  article {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    width: 100vw;
  }
}
@media all and (max-width: 480px) {
  article {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
@media all and (min-width: 1281px) {
  article {
    width: 99.2rem;
  }
}
.nav {
  background-color: #fae6e6;
  font-weight: 500;
  padding: 1.7rem 0 0 3rem;
  width: 28.8rem;
}
@media all and (max-width: 1024px) {
  .nav {
    width: 25rem;
  }
}
@media all and (max-width: 767px) {
  .nav {
    height: 100%;
    position: absolute;
    top: 0;
    right: -25rem;
    transition: right 0.2s linear;
  }
  .nav.active {
    right: 0;
  }
}
main {
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
  position: relative;
}
main ul {
  padding-left: 0;
  list-style-position: inside;
}
@media all and (max-width: 767px) {
  main {
    overflow: hidden;
  }
}
.homepage body {
  font-size: 1.8rem;
  font-weight: 500;
}
.homepage main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homepage article {
  width: auto;
}
.homepage article p {
  font-size: 2rem;
  list-style-type: none;
  margin: 0 0 0.4rem;
}
.homepage article ul {
  margin: 0;
}
@media all and (max-width: 480px) {
  #requerio-dispatch {
    font-size: 1.1rem;
  }
  #requerio-methods {
    font-size: 1.2rem;
  }
}
