<nav id="nav" class="nav">
  <ul>
    <li><a href="{{ link.pages-homepage }}">Home</a></li>
    <li><a href="{{ link.pages-blog }}">Blog</a></li>
    <li><a href="{{ link.pages-top-story }}">{{ article_title }}</a></li>
  </ul>
</nav><!--end .nav-->
