html
  box-sizing: border-box
  font-size: (100 / 1.6)%
*,
*::before,
*::after
  box-sizing: inherit;
body
  font-size: 1.6em
html,
body,
div,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
li,
form,
legend,
label,
table,
header,
footer,
nav,
section,
figure
  margin: 0
  padding: 0
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary
  display: block;
