html
  box-sizing: border-box
  font-size: (100 / 1.6)%
*,
*::before,
*::after
  box-sizing: inherit
body
  font-size: 1.6em
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary
  display: block
