<button id="sidebar-toggle-for-small-vp" class="sidebar-toggle-for-small-vp" type="button">
  <span class="caret--left">{{> elements-caret-left }}</span>
  <span class="caret--right">{{> elements-caret-right }}</span>
</button>
