<ul id="nav__menu" class="nav__menu">
  <li class="nav__menu__item"><a href="{{ link.pages-homepage }}">{{ nav_menu_item }}</a></li>
  <li class="nav__menu__item"><a href="{{ link.pages-project-leads }}">{{ nav_menu_item_1 }}</a></li>
  <li class="nav__menu__item"><a href="{{ link.pages-coding-designers }}">{{ nav_menu_item_2 }}</a></li>
  <li class="nav__menu__item"><a href="{{ link.pages-editors }}">{{ nav_menu_item_3 }}</a></li>
  <li id="nav__submenu-container" class="nav__menu__item nav__submenu-container">
    <a id="nav__submenu-toggle" class="nav__submenu-toggle" href="">{{ nav_menu_item_4 }}
      <span class="caret caret--down">{{> elements-caret-down }}</span><span class="caret caret--up">{{> elements-caret-up }}</span>
    </a>
    <ul class="nav__menu nav__submenu">
      <li class="nav__menu__item"><a href="{{ link.pages-requerio-inspector-basics }}">{{ nav_menu_item_5 }}</a></li>
      <li class="nav__menu__item"><a href="{{ link.pages-client-side-actions }}">{{ nav_menu_item_6 }}</a></li>
      <li class="nav__menu__item"><a href="{{ link.pages-server-side-testing }}">{{ nav_menu_item_7 }}</a></li>
    </ul>
  </li>
</ul>
