/* html and body */
html
  font-size: 10px
body
  color: $black-less-contrast
  font: 1.6em/1.5 $font-main
  margin: 0
  min-width: $bp-xx-max
  min-height: $header-height + 2.6rem
  position: relative
a
  color: $black-less-contrast
  text-decoration: none
code
  background-color: #eee
  font-family: $font-mono
  font-size: 0.875em
h1
  margin: 2.1rem 0
h1, h2
  font-size: 2.6rem
  @media all and (max-width: $bp-sm-max)
    text-align: center
