<li class="comment-block">
  <div class="comment-avatar">
    {{> elements-avatar }}
  </div>
  <div class="comment-text">
    <div class="comment-meta">
      <a class="comment-name" href="#"><b>{{ name.first }} {{ name.last }}</b></a> says:
    </div>
    <div class="comment-content">
      <p class="{{ styleModifier }}">{{ description }}</p>
    </div>
  </div>
</li>
