.comments
  li
    margin-bottom: $space
.comment-block
  display: flex
.comment-avatar
  margin-right: $space-half
.comment-avatar
  img,
  svg
    border: 1px solid $gray-light-1
    width: 5em
    height: 5em
.comment-meta
  font-size: 1.2rem
.comment-name
  display: inline
.comment-content
  p
    margin-top: 0.1875em
