.comments
  li
    margin-bottom: $space
.comment-block
  display: flex
.comment-avatar
  border: 1px solid $gray-light-1
.comment-avatar,
.comment-avatar > *
  width: 5em
  height: 5em
.comment-text
  margin-left: 1em
.comment-meta
  font-size: 0.875em
.comment-name
  display: inline
.comment-content
  p
    margin-top: 0.1875em
