&lt;section&gt;
  &lt;div id="one" class="test"&gt;{{ one }}&lt;/div&gt;
  &lt;div id="two" class="test"&gt;{{ two }}&lt;/div&gt;
  &lt;div class="test"&gt;{{ test }}&lt;/div&gt;
  &lt;div class="test"&gt;{{ test_1 }}&lt;/div&gt;
  &lt;div class="test"&gt;{{ test_2 }}&lt;/div&gt;
  &lt;div&gt;{{ div }}&lt;/div&gt;
  &lt;div&gt;{{ div_1 }}&lt;/div&gt;
  &lt;div&gt;{{ div_2 }}&lt;/div&gt;
  &lt;code&gt;&lt;/code&gt;
  &lt;br /&gt;
  &lt;p&gt;&lt;/p&gt;
  &lt;figure&gt;&lt;/figure&gt;
  &lt;!-- comment --&gt;
&lt;/section&gt;
