{{# homepage? }}
  <h1 class="img-alt-h1">
{{/ homepage? }}
<a href="{{ link.pages-homepage }}" class="logo" title="{{ logo_title }}">
  {{> elements-logo }}
</a>
{{# homepage? }}
  </h1>
{{/ homepage? }}
