/**
 * Pattern Lab's header is fixed across the top of the viewport and contains the primary pattern navigation, viewport
 * resizing items, and tools.
 */
.sg-header {
  background: #000;
  color: #fff;
  font-family: Helvetica, "Nimbus Sans L", "Liberation Sans", Roboto, sans-serif;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  min-width: 32rem;
}
.sg-header ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sg-header a {
  color: #808080;
  font-size: 1.1rem;
  height: 3.2rem;
  line-height: 1;
  padding: 1.1rem 0.4rem 1.0rem;
  text-decoration: none;
  transition: background 0.1s ease-out;
  transition: color 0.1s ease-out;
}
.sg-header a:hover, .sg-header a:focus, .sg-header a.active {
  color: #fff;
  background: #222;
}
@media all and (min-width: 1281px) {
  .sg-header a {
    padding-right: 0.7rem;
    padding-left: 0.7rem;
  }
}
