html
  font-size: (100 / 1.6)%
  // Border-Box https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
  box-sizing: border-box
*,
*::before,
*::after
  box-sizing: inherit
body
  font-size: 1.6em
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary
  display: block
